@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  background-color: #fff; }
  html body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; }
    html body p {
      font-family: "Open Sans", sans-serif;
      font-size: smaller !important; }
    html body .contenedorPadre {
      padding: 0;
      margin: 96px 0 0 0;
      border: none; }
    html body .container-fluid {
      padding: 0; }
    html body .row {
      margin: 0; }
    html body h2, html body h3, html body h4, html body h5, html body h6 {
      color: black; }
    html body .titulosSecciones {
      text-align: center;
      margin: 20px 0 0 0;
      height: min-content;
      width: 100%; }
    html body .detallesTitulos {
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      margin: auto;
      border-style: solid;
      border-radius: 10px;
      color: #3a3ada;
      width: 120px; }

#header-home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../assets/igaming-latam-consulting.png) !important;
  background-position: center;
  background-size: cover;
  overflow-x: hidden; }
  #header-home .navbar-header-home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.7s; }
    #header-home .navbar-header-home:hover {
      background: #fff;
      filter: none; }
      #header-home .navbar-header-home:hover .logo-home {
        filter: none; }
        #header-home .navbar-header-home:hover .logo-home .linkLogo {
          text-decoration: none; }
          #header-home .navbar-header-home:hover .logo-home .linkLogo .logo-img-home {
            filter: none; }
      #header-home .navbar-header-home:hover .navbar-ul-home .navbar-li-home .navbar-a-home {
        color: #141414; }
    #header-home .navbar-header-home .logo-home .logo-img-home {
      width: calc(min(50vw, 200px));
      filter: brightness(140%) invert(200%) brightness(200%) hue-rotate(186deg); }
    #header-home .navbar-header-home .navbar-ul-home .navbar-li-home {
      position: relative;
      display: inline-block;
      list-style: none;
      margin: 10px 20px; }
      #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home {
        text-decoration: none;
        color: #fff;
        font-weight: bold; }
        #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home::after {
          content: '';
          height: 3px;
          width: 0%;
          background: #3a3ada;
          position: absolute;
          left: 0;
          bottom: -10px;
          transition: 0.5s; }
        #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home:hover::after {
          width: 100%; }
        #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home:active {
          color: #3a3ada; }
  #header-home .navbar-header-home.bottom {
    background: #fff;
    z-index: 10; }
    #header-home .navbar-header-home.bottom .logo-home {
      color: #141414; }
      #header-home .navbar-header-home.bottom .logo-home .logo-img-home {
        filter: none; }
      #header-home .navbar-header-home.bottom .logo-home h2, #header-home .navbar-header-home.bottom .logo-home html body h3, html body #header-home .navbar-header-home.bottom .logo-home h3, #header-home .navbar-header-home.bottom .logo-home html body h4, html body #header-home .navbar-header-home.bottom .logo-home h4, #header-home .navbar-header-home.bottom .logo-home html body h5, html body #header-home .navbar-header-home.bottom .logo-home h5, #header-home .navbar-header-home.bottom .logo-home html body h6, html body #header-home .navbar-header-home.bottom .logo-home h6 {
        color: #141414 !important; }
    #header-home .navbar-header-home.bottom .navbar-ul-home .navbar-li-home .navbar-a-home {
      color: #141414; }
  #header-home #navbarNav {
    justify-content: flex-end; }
  #header-home .content {
    margin-top: 18%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #header-home .content h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 2.813rem;
      font-weight: 600;
      padding: 20px; }
    #header-home .content p {
      max-width: 500px;
      line-height: 28px;
      opacity: 0; }
    #header-home .content .links {
      margin-top: 30px;
      opacity: 0; }
      #header-home .content .links .btnLink {
        display: inline-block;
        background-color: transparent;
        color: #fff;
        padding: 1.125rem 2rem;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: .5rem;
        border: 2px solid #fff;
        transition: .3s;
        cursor: pointer;
        width: 100%; }
        #header-home .content .links .btnLink:hover {
          background-color: #fff;
          color: #141414;
          transform: translateY(-0.2rem); }
    #header-home .content .slide-left {
      animation: slideleft 1s linear forwards; }
    #header-home .content p.slide-left {
      animation-delay: 1s; }
    #header-home .content .links.slide-left {
      animation-delay: 2s; }

@keyframes slideleft {
  0% {
    transform: translate(100px);
    opacity: 0; }
  100% {
    transform: translate(0px);
    opacity: 1; } }

#header-global {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  transition: 0.7s;
  overflow-x: hidden;
  z-index: 10;
  background-color: #fff; }
  #header-global .navbar-header-global {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 8%;
    top: 0;
    left: 0; }
    #header-global .navbar-header-global .logo-global {
      flex: 1; }
      #header-global .navbar-header-global .logo-global .logo-img-global {
        width: calc(min(50vw, 200px)); }
    #header-global .navbar-header-global .navbar-ul-global .navbar-li-global {
      position: relative;
      display: inline-block;
      list-style: none;
      margin: 10px 20px; }
      #header-global .navbar-header-global .navbar-ul-global .navbar-li-global .navbar-a-global {
        text-decoration: none;
        color: #141414;
        font-weight: bold; }
        #header-global .navbar-header-global .navbar-ul-global .navbar-li-global .navbar-a-global::after {
          content: '';
          height: 3px;
          width: 0%;
          background: #3a3ada;
          position: absolute;
          left: 0;
          bottom: -10px;
          transition: 0.5s; }
        #header-global .navbar-header-global .navbar-ul-global .navbar-li-global .navbar-a-global:hover::after {
          width: 100%; }
        #header-global .navbar-header-global .navbar-ul-global .navbar-li-global .navbar-a-global:active {
          color: #3a3ada; }
    #header-global .navbar-header-global #navbarNav {
      justify-content: flex-end; }
  #header-global .navbar-header-global.bottom-global {
    background: #fff;
    z-index: 10; }
    #header-global .navbar-header-global.bottom-global .navbar-ul-global .navbar-li-global .navbar-a-global {
      color: #141414; }

.padreHome {
  margin: 30px 0 0 0; }
  .padreHome .contenidoHome {
    padding: 0 100px 0 100px;
    overflow: hidden;
    margin-bottom: 70px; }
    .padreHome .contenidoHome p {
      color: rgba(0, 0, 0, 0.89); }
    .padreHome .contenidoHome .contenedorContenido {
      padding: 0;
      text-align: center;
      margin: 0; }
      .padreHome .contenidoHome .contenedorContenido h2, .padreHome .contenidoHome .contenedorContenido html body h3, html body .padreHome .contenidoHome .contenedorContenido h3, .padreHome .contenidoHome .contenedorContenido html body h4, html body .padreHome .contenidoHome .contenedorContenido h4, .padreHome .contenidoHome .contenedorContenido html body h5, html body .padreHome .contenidoHome .contenedorContenido h5, .padreHome .contenidoHome .contenedorContenido html body h6, html body .padreHome .contenidoHome .contenedorContenido h6 {
        margin-bottom: 100px;
        margin-top: 20px;
        font-weight: bolder; }
      .padreHome .contenidoHome .contenedorContenido .detallesTitulos {
        top: 90px; }
      .padreHome .contenidoHome .contenedorContenido .servicioPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px  0;
        margin-bottom: 20px;
        background: #f6f9fe; }
        .padreHome .contenidoHome .contenedorContenido .servicioPrincipal .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          .padreHome .contenidoHome .contenedorContenido .servicioPrincipal .content h5 {
            margin: 20px 0; }
        .padreHome .contenidoHome .contenedorContenido .servicioPrincipal .servicioImg {
          display: flex;
          align-items: center;
          justify-content: center; }

.contenedorServicios {
  width: 100%;
  padding: 0 140px 0 140px; }
  .contenedorServicios .padreServicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0 80px 0;
    background-color: rgba(58, 58, 218, 0.205);
    border-radius: 30px; }
    .contenedorServicios .padreServicios .contenidoServicios {
      display: flex;
      align-items: center;
      height: 300px;
      width: 450px;
      padding: 20px;
      margin: 10px 30px; }
      .contenedorServicios .padreServicios .contenidoServicios .imgServicios {
        width: min-content;
        height: min-content; }
        .contenedorServicios .padreServicios .contenidoServicios .imgServicios img {
          width: 180px;
          height: 180px;
          border-radius: 100px; }
      .contenedorServicios .padreServicios .contenidoServicios .textoServicios .listaServicios {
        margin: 0 0 0 40px;
        color: rgba(0, 0, 0, 0.87);
        line-height: 24px;
        font-size: 14px; }

.contenedorNosotros {
  width: 100%;
  padding: 0 140px 50px 140px; }
  .contenedorNosotros h6 {
    font-weight: bold; }
  .contenedorNosotros .padreExperiencia {
    margin: 100px 0 0 0;
    height: min-content; }
    .contenedorNosotros .padreExperiencia .nuestraExperiencia {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%; }
      .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia .imgPrimera {
          width: 60%; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia .imgSegunda {
          width: 40%; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia img {
          padding: 0 10px;
          border-radius: 30px; }
      .contenedorNosotros .padreExperiencia .nuestraExperiencia .textoExperiencia {
        text-align: center;
        width: 100%;
        padding: 20px 30px; }
  .contenedorNosotros .proyectos {
    width: 100%;
    margin-top: 20px; }
    .contenedorNosotros .proyectos .enfoque, .contenedorNosotros .proyectos .idoneidad {
      display: flex;
      width: 100%;
      height: min-content; }
      .contenedorNosotros .proyectos .enfoque .imgEnfoque, .contenedorNosotros .proyectos .idoneidad .imgEnfoque, .contenedorNosotros .proyectos .idoneidad .imgIdoneidad {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        height: 100%; }
        .contenedorNosotros .proyectos .enfoque .imgEnfoque img, .contenedorNosotros .proyectos .idoneidad .imgEnfoque img, .contenedorNosotros .proyectos .idoneidad .imgIdoneidad img {
          border-radius: 20px;
          width: 500px;
          height: 250px;
          margin: 5px 0; }
      .contenedorNosotros .proyectos .enfoque .textoEnfoque, .contenedorNosotros .proyectos .idoneidad .textoEnfoque, .contenedorNosotros .proyectos .idoneidad .textoIdoneidad {
        width: 65%;
        padding: 130px 20px 0 0; }
        .contenedorNosotros .proyectos .enfoque .textoEnfoque p, .contenedorNosotros .proyectos .idoneidad .textoEnfoque p, .contenedorNosotros .proyectos .idoneidad .textoIdoneidad p {
          text-align: justify; }
    .contenedorNosotros .proyectos .idoneidad .textoIdoneidad {
      padding: 170px 0 0 20px; }

.contenedorMarcas {
  width: 100%; }
  .contenedorMarcas .titulosSecciones {
    height: min-content;
    width: 100%;
    padding: 50px 0 0 0; }
    .contenedorMarcas .titulosSecciones .detallesTitulos {
      top: 0; }
  .contenedorMarcas .padreMarcas {
    width: 100%;
    margin: 10px 0 50px 0; }
    .contenedorMarcas .padreMarcas .slider {
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 90%;
      border-radius: 50px; }
      .contenedorMarcas .padreMarcas .slider::before, .contenedorMarcas .padreMarcas .slider::after {
        background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2; }
      .contenedorMarcas .padreMarcas .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg); }
      .contenedorMarcas .padreMarcas .slider::before {
        left: 0;
        top: 0; }
      .contenedorMarcas .padreMarcas .slider .slide-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14); }
      .contenedorMarcas .padreMarcas .slider .slide {
        height: 100px;
        width: 250px; }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 17)); } }

.contenedorContacto .section-contact {
  background-color: #f6f9fe;
  margin: 100px 0 50px 0; }
  .contenedorContacto .section-contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
    padding: 20px 0 30px 0; }
    .contenedorContacto .section-contact .info-box .contact-icon {
      background: #fff;
      box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
      border-radius: 30%;
      padding: 8px;
      margin: 0 auto;
      width: 50px;
      height: auto; }
    .contenedorContacto .section-contact .info-box h3 {
      font-size: 20px;
      color: #777777;
      font-weight: 700;
      margin: 10px 0; }
    .contenedorContacto .section-contact .info-box p {
      padding: 0;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0; }
  .contenedorContacto .section-contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
    padding: 30px; }
    .contenedorContacto .section-contact .php-email-form .error-mensaje {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600; }
      .contenedorContacto .section-contact .php-email-form .error-mensaje br + br {
        margin-top: 25px; }
    .contenedorContacto .section-contact .php-email-form .enviar-mensaje {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600; }
  .contenedorContacto .section-contact .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px; }
    .contenedorContacto .section-contact .loading::before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid #18d26e;
      border-top-color: #eee;
      -webkit-animation: animate-loading 1s linear infinite;
      animation: animate-loading 1s linear infinite; }
  .contenedorContacto .section-contact .form-group {
    margin-bottom: 20px; }
  .contenedorContacto .section-contact input {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px 15px; }
    .contenedorContacto .section-contact input:focus {
      border-color: #141414; }
  .contenedorContacto .section-contact textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 12px 15px; }
    .contenedorContacto .section-contact textarea:focus {
      border-color: #141414; }
  .contenedorContacto .section-contact button[type=submit] {
    background: #141414;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px; }
    .contenedorContacto .section-contact button[type=submit]:hover {
      background: #777777; }

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.footer {
  background-color: black;
  height: 45vh;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0; }
  .footer .padreFooter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(../assets/latam+igaming+agency.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60%;
    margin: 50px 0 0 0;
    padding: 0; }
    .footer .padreFooter h2, .footer .padreFooter html body h3, html body .footer .padreFooter h3, .footer .padreFooter html body h4, html body .footer .padreFooter h4, .footer .padreFooter html body h5, html body .footer .padreFooter h5, .footer .padreFooter html body h6, html body .footer .padreFooter h6 {
      color: white;
      text-shadow: 0px 5px 5px black; }
  .footer .copyright {
    height: min-content;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: auto; }
    .footer .copyright p {
      color: rgba(255, 255, 255, 0.349); }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  html {
    margin: 0; }
    html body .contenedorPadre {
      padding: 0;
      margin: 77px 0 0 0;
      width: 100%; }
    html body p {
      font-size: small; }
    html body h1 {
      font-size: 2rem; }
    html body h2, html body h3, html body h4, html body h5, html body h6 {
      font-size: 1.125rem; }
    html body h5 {
      font-size: 1rem;
      font-weight: bold; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html body p {
    font-size: medium; } }

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  html body p {
    font-size: large; } }

@media only screen and (min-width: 0px) and (max-width: 1024px) {
  #header-home {
    height: 100vh; }
    #header-home .navbar-header-home {
      z-index: 1;
      transition: none;
      background: #fff; }
      #header-home .navbar-header-home .logo-home .logo-img-home {
        filter: none; }
      #header-home .navbar-header-home .navbar-ul-home {
        filter: none; }
        #header-home .navbar-header-home .navbar-ul-home .navbar-li-home {
          color: #141414; }
          #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home {
            color: #141414; }
            #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home::after {
              content: '';
              height: 3px;
              width: 0%;
              background: #3a3ada;
              position: absolute;
              left: 0;
              bottom: -10px;
              transition: 0.5s; }
            #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home:hover::after {
              width: 15%; }
            #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home:focus {
              color: #3a3ada; }
            #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home:target {
              color: #3a3ada; }
    #header-home .content {
      margin-top: 12rem;
      text-align: center; }
      #header-home .content .links {
        margin-top: 1.875rem; }
        #header-home .content .links .btnLink {
          width: 100%; }
  .navbar-icon-button {
    background: #fff; }
  .navbar-icon-hambur {
    color: #141414; }
  .contenidoHome .contenedorContenido .servicioPrincipal {
    padding: 0;
    margin-bottom: 1.875rem; } }

@media only screen and (min-width: 0px) and (max-width: 812px) {
  #header-home .content {
    margin-top: 15rem;
    text-align: center; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  #header-global .navbar-header-global {
    flex: none;
    width: 100%; } }

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  #header-global {
    width: 100%; }
    #header-global .navbar-header-global {
      padding: 18px 2% 18px 8%; }
      #header-global .navbar-header-global .navbar-ul-global {
        width: min-content;
        display: flex;
        justify-content: space-around; }
        #header-global .navbar-header-global .navbar-ul-global .navbar-li-global {
          width: min-content; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .contenedorNosotros {
    margin: 0;
    margin: 70px 0 30px 0;
    padding: 0; }
    .contenedorNosotros p {
      padding-top: 1%;
      line-height: none; }
    .contenedorNosotros .padreExperiencia {
      margin: 70px 0 0 0;
      padding: 0; }
      .contenedorNosotros .padreExperiencia .nuestraExperiencia {
        display: flex;
        flex-direction: column; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 3%; }
          .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia .imgPrimera {
            width: 100%;
            order: 1;
            margin: 5px 0; }
          .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia .imgSegunda {
            width: 100%;
            order: 2; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .textoExperiencia {
          text-align: justify;
          padding: 20px 30px 0 30px; }
          .contenedorNosotros .padreExperiencia .nuestraExperiencia .textoExperiencia h4 {
            text-align: center; }
    .contenedorNosotros .proyectos {
      padding: 0 30px 0 30px; }
      .contenedorNosotros .proyectos .enfoque, .contenedorNosotros .proyectos .idoneidad {
        display: flex;
        flex-direction: column; }
        .contenedorNosotros .proyectos .enfoque .imgEnfoque, .contenedorNosotros .proyectos .idoneidad .imgEnfoque, .contenedorNosotros .proyectos .idoneidad .imgIdoneidad {
          width: 100%;
          order: 4;
          justify-content: center; }
          .contenedorNosotros .proyectos .enfoque .imgEnfoque img, .contenedorNosotros .proyectos .idoneidad .imgEnfoque img, .contenedorNosotros .proyectos .idoneidad .imgIdoneidad img {
            margin: 1px 0;
            width: 100%;
            height: 100%; }
        .contenedorNosotros .proyectos .enfoque .textoEnfoque, .contenedorNosotros .proyectos .idoneidad .textoEnfoque, .contenedorNosotros .proyectos .idoneidad .textoIdoneidad {
          order: 3;
          width: 100%;
          padding: 1% 0 0 0; }
      .contenedorNosotros .proyectos .idoneidad .textoIdoneidad {
        padding-top: 20px; }
  .contenedorMarcas {
    width: 100%; }
    .contenedorMarcas .padreMarcas {
      overflow-x: hidden;
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contenedorMarcas .padreMarcas .slider {
        width: 100%; }
    .contenedorMarcas .titulosSecciones {
      width: 100%; }
      .contenedorMarcas .titulosSecciones .detallesTitulos {
        top: 100%; } }

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .contenedorNosotros .proyectos .enfoque, .contenedorNosotros .proyectos .idoneidad {
    width: 100%; }
    .contenedorNosotros .proyectos .enfoque .imgEnfoque, .contenedorNosotros .proyectos .idoneidad .imgEnfoque, .contenedorNosotros .proyectos .idoneidad .imgIdoneidad {
      width: 50%;
      height: 100%; }
      .contenedorNosotros .proyectos .enfoque .imgEnfoque img, .contenedorNosotros .proyectos .idoneidad .imgEnfoque img, .contenedorNosotros .proyectos .idoneidad .imgIdoneidad img {
        width: 90%; }
    .contenedorNosotros .proyectos .enfoque .textoEnfoque, .contenedorNosotros .proyectos .idoneidad .textoEnfoque, .contenedorNosotros .proyectos .idoneidad .textoIdoneidad {
      width: 50%;
      padding: 10% 0 0 0; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .footer {
    height: 50vh; }
    .footer .padreFooter h2, .footer .padreFooter html body h3, html body .footer .padreFooter h3, .footer .padreFooter html body h4, html body .footer .padreFooter h4, .footer .padreFooter html body h5, html body .footer .padreFooter h5, .footer .padreFooter html body h6, html body .footer .padreFooter h6 {
      font-size: x-large; }
    .footer .padreFooter img {
      width: 42px;
      height: 42px; }
    .footer .copyright {
      padding: 0; }
      .footer .copyright p {
        color: rgba(255, 255, 255, 0.281);
        text-align: center; } }
