* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html body {
  font-family: 'PT Mono', monospace;
  font-family: 'Prompt', sans-serif;
  font-family: 'Inconsolata', monospace;
  font-family: 'Encode Sans SC', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0; }
  html body h2, html body h3, html body h4, html body h5, html body h6, html body .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo p, .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo html body p {
    color: black; }
  html body .titulosSecciones {
    text-align: center;
    margin: 20px 0 0 0;
    height: min-content; }
  html body .detallesTitulos {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    color: #3a3ada;
    width: 10%; }

.contenedorPadre {
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .contenedorPadre .contenedorHeader {
    background-color: white;
    height: 120px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin: 0; }
    .contenedorPadre .contenedorHeader .headerLogo {
      display: flex;
      justify-content: center;
      align-items: center; }
      .contenedorPadre .contenedorHeader .headerLogo img {
        width: 80px;
        height: 80px; }
      .contenedorPadre .contenedorHeader .headerLogo .logoLatam {
        display: flex;
        padding: 0;
        margin: 0;
        position: absolute; }
        .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo h2, .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo html body h3, html body .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo h3, .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo html body h4, html body .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo h4, .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo html body h5, html body .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo h5, .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo html body h6, html body .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo h6, .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo p {
          position: absolute;
          width: 250px;
          top: 8px;
          left: 85px;
          right: 0;
          margin: auto; }
        .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo p {
          top: 40px;
          left: 100px; }
        .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo span {
          color: #6262bd; }
    .contenedorPadre .contenedorHeader .headerSearch {
      display: flex;
      padding: 0;
      width: 100%; }
      .contenedorPadre .contenedorHeader .headerSearch .navPadre {
        width: 80%;
        margin: auto; }
        .contenedorPadre .contenedorHeader .headerSearch .navPadre .estilosNav {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          align-items: center; }
          .contenedorPadre .contenedorHeader .headerSearch .navPadre .estilosNav .nav-item {
            position: relative;
            list-style: none;
            display: inline-block; }
            .contenedorPadre .contenedorHeader .headerSearch .navPadre .estilosNav .nav-item .nav-link {
              text-decoration: none;
              color: black;
              text-transform: uppercase;
              font-weight: bold; }
            .contenedorPadre .contenedorHeader .headerSearch .navPadre .estilosNav .nav-item::after {
              content: '';
              height: 3px;
              width: 0%;
              background: #3a3ada;
              position: absolute;
              left: 0;
              bottom: -10px;
              transition: 0.5s; }
            .contenedorPadre .contenedorHeader .headerSearch .navPadre .estilosNav .nav-item:hover::after {
              width: 100%; }

.padreHome {
  margin-top: 120px;
  height: 75vh; }
  .padreHome .contenedorHome {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../assets/igaming-latam-consulting.png);
    background-size: cover;
    background-position: center; }
    .padreHome .contenedorHome .homeBanner {
      display: flex;
      flex-direction: column;
      margin: 0; }
      .padreHome .contenedorHome .homeBanner .estilosNombre {
        margin: 0;
        height: 70%;
        padding: 2% 0 20px 70px; }
        .padreHome .contenedorHome .homeBanner .estilosNombre .nombrePrincipal {
          color: #4d4d4d;
          font-size: 8rem;
          font-weight: bold;
          font-family: monospace;
          cursor: pointer;
          text-transform: uppercase;
          background: linear-gradient(to right, #4d4d4d, white, #4d4d4d);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: shine 3s infinite linear; }

@keyframes shine {
  0% {
    background-position: 0; }
  60% {
    background-position: 600px; }
  100% {
    background-position: 600px; } }
        .padreHome .contenedorHome .homeBanner .estilosNombre .subtitulo {
          color: gray;
          font-size: large;
          text-align: justify;
          margin: 3% 0 0 15px;
          width: 50%; }
        .padreHome .contenedorHome .homeBanner .estilosNombre .botonHome {
          width: 200px;
          height: 80px;
          margin: 2% 0 0 20%; }
      .padreHome .contenedorHome .homeBanner .contactoHome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 100px;
        right: 120px;
        height: 200px;
        width: 350px;
        border: solid white; }
        .padreHome .contenedorHome .homeBanner .contactoHome .numeroContacto {
          color: #fff; }
        .padreHome .contenedorHome .homeBanner .contactoHome .textoContacto {
          color: aliceblue;
          text-align: center;
          margin-top: 8%; }

.contenidoHome {
  padding: 10px 100px 0px 100px;
  overflow: hidden;
  margin-bottom: 70px; }
  .contenidoHome p {
    color: rgba(0, 0, 0, 0.89); }
  .contenidoHome .contenedorContenido {
    padding: 0;
    text-align: center;
    margin: 0; }
    .contenidoHome .contenedorContenido h2, .contenidoHome .contenedorContenido html body h3, html body .contenidoHome .contenedorContenido h3, .contenidoHome .contenedorContenido html body h4, html body .contenidoHome .contenedorContenido h4, .contenidoHome .contenedorContenido html body h5, html body .contenidoHome .contenedorContenido h5, .contenidoHome .contenedorContenido html body h6, html body .contenidoHome .contenedorContenido h6, .contenidoHome .contenedorContenido .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo p, .contenedorPadre .contenedorHeader .headerLogo .logoLatam .textoLogo .contenidoHome .contenedorContenido p {
      margin-bottom: 100px;
      margin-top: 20px;
      font-weight: bolder; }
    .contenidoHome .contenedorContenido .detallesTitulos {
      top: 90px; }
    .contenidoHome .contenedorContenido .servicioPrincipal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 0; }
      .contenidoHome .contenedorContenido .servicioPrincipal img {
        width: 100%;
        height: 500px; }
      .contenidoHome .contenedorContenido .servicioPrincipal h4 {
        margin: 20px 0;
        font-weight: bolder; }
    .contenidoHome .contenedorContenido .serviciosSecundarios {
      display: flex;
      padding: 0; }
      .contenidoHome .contenedorContenido .serviciosSecundarios h5 {
        margin: 20px 0;
        font-weight: bolder; }
      .contenidoHome .contenedorContenido .serviciosSecundarios .servicioSecundario1 {
        margin: 0 15px 0 0; }
      .contenidoHome .contenedorContenido .serviciosSecundarios .servicioSecundario2 {
        margin: 0 0 0 15px; }

.contenedorServicios {
  width: 100%;
  margin: 120px 0 50px 0;
  padding: 0 120px 0 120px; }
  .contenedorServicios .padreServicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0 0 0;
    background-color: rgba(58, 58, 218, 0.205);
    border-radius: 30px; }
    .contenedorServicios .padreServicios .contenidoServicios {
      display: flex;
      align-items: center;
      height: 300px;
      width: 450px;
      padding: 20px;
      margin: 10px 30px; }
      .contenedorServicios .padreServicios .contenidoServicios .imgServicios {
        width: min-content;
        height: min-content; }
        .contenedorServicios .padreServicios .contenidoServicios .imgServicios img {
          width: 180px;
          height: 180px;
          border-radius: 100px; }
      .contenedorServicios .padreServicios .contenidoServicios .textoServicios .listaServicios {
        margin: 0 0 0 40px;
        color: rgba(0, 0, 0, 0.87); }

.contenedorNosotros {
  margin-top: 120px;
  margin: 120px 120px 200px 120px; }
  .contenedorNosotros p {
    font-size: large; }
  .contenedorNosotros .padreExperiencia {
    margin: 100px 0 0 0;
    height: min-content; }
    .contenedorNosotros .padreExperiencia .nuestraExperiencia {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%; }
      .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia .imgPrimera {
          width: 60%; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia .imgSegunda {
          width: 40%; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia img {
          padding: 0 10px;
          border-radius: 30px; }
      .contenedorNosotros .padreExperiencia .nuestraExperiencia .textoExperiencia {
        text-align: center;
        width: 100%;
        padding: 20px 30px; }
  .contenedorNosotros .proyectos {
    width: 100%;
    margin-top: 20px; }
    .contenedorNosotros .proyectos .enfoque, .contenedorNosotros .proyectos .idoneidad {
      display: flex;
      width: 100%;
      height: 600px; }
      .contenedorNosotros .proyectos .enfoque .imgEnfoque, .contenedorNosotros .proyectos .idoneidad .imgEnfoque, .contenedorNosotros .proyectos .idoneidad .imgIdoneidad {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 100%; }
        .contenedorNosotros .proyectos .enfoque .imgEnfoque img, .contenedorNosotros .proyectos .idoneidad .imgEnfoque img, .contenedorNosotros .proyectos .idoneidad .imgIdoneidad img {
          border-radius: 20px;
          width: 500px;
          height: 250px; }
      .contenedorNosotros .proyectos .enfoque .textoEnfoque, .contenedorNosotros .proyectos .idoneidad .textoEnfoque, .contenedorNosotros .proyectos .idoneidad .textoIdoneidad {
        width: 50%;
        padding: 130px 20px 0 50px; }
        .contenedorNosotros .proyectos .enfoque .textoEnfoque p, .contenedorNosotros .proyectos .idoneidad .textoEnfoque p, .contenedorNosotros .proyectos .idoneidad .textoIdoneidad p {
          text-align: justify; }
    .contenedorNosotros .proyectos .idoneidad .textoIdoneidad {
      padding: 170px 50px 0 20px; }

.contenedorContacto {
  margin-top: 120px; }
  .contenedorContacto .padreContacto .contenedorForm {
    display: flex;
    justify-content: space-between;
    border: double 10px rgba(58, 58, 218, 0.575);
    border-radius: 10px;
    margin: 8% 15%;
    height: 50vh; }
    .contenedorContacto .padreContacto .contenedorForm .consultasForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 3%; }
      .contenedorContacto .padreContacto .contenedorForm .consultasForm .dataContactanos, .contenedorContacto .padreContacto .contenedorForm .consultasForm .textoContactanos {
        margin: 0 0 3% 0;
        width: 90%;
        height: 40px;
        border-radius: 5px; }
      .contenedorContacto .padreContacto .contenedorForm .consultasForm .textoContactanos {
        height: 50%;
        background-color: white; }
      .contenedorContacto .padreContacto .contenedorForm .consultasForm .inputEnviar {
        width: 30%;
        border-radius: 5px; }
    .contenedorContacto .padreContacto .contenedorForm .textoContacto {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4%;
      font-style: italic;
      font-weight: bolder;
      font-size: x-large; }

.footer {
  height: 70vh;
  background-color: black; }
  .footer .suscripcion {
    margin-bottom: 0;
    width: 100%;
    height: 45%;
    background-image: url(../assets/suscribirImg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%; }
    .footer .suscripcion .tituloSuscribir {
      font-size: 50px;
      font-weight: bold;
      text-shadow: 0px 5px 5px black;
      color: white;
      margin: 0 0 50px 0; }
    .footer .suscripcion .textoSuscribirse {
      color: white;
      text-shadow: 0px 5px 5px black;
      font-size: large; }
    .footer .suscripcion .contenedorSuscribirse {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      height: 20%; }
      .footer .suscripcion .contenedorSuscribirse ::placeholder {
        color: white;
        text-shadow: 0px 5px 5px black; }
      .footer .suscripcion .contenedorSuscribirse .dataSuscribirse {
        width: 70%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.637); }
      .footer .suscripcion .contenedorSuscribirse .botonSuscribir {
        height: 50px;
        width: 120px; }
  .footer .contactoFooter {
    height: 40%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .contactoFooter img {
      width: 30px;
      height: 30px; }
    .footer .contactoFooter .dataFooter {
      margin-top: 3%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer .contactoFooter .dataFooter .textoFooter {
        color: rgba(245, 245, 245, 0.616); }
      .footer .contactoFooter .dataFooter h6 {
        font-weight: bold;
        color: white; }
      .footer .contactoFooter .dataFooter ul {
        list-style: none; }
    .footer .contactoFooter .inicio {
      position: fixed;
      bottom: 20px;
      right: 10px; }
      .footer .contactoFooter .inicio img {
        height: 50px;
        width: 50px; }
  .footer .copyright {
    text-align: center;
    color: rgba(245, 245, 245, 0.185); }
