@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html body {
  font-family: 'Open Sans', sans-serif;
  background-color: white; }
  html body h2, html body h3, html body h4, html body h5, html body h6 {
    color: black; }
  html body .titulosSecciones {
    text-align: center;
    margin: 20px 0 0 0;
    height: min-content; }
  html body .detallesTitulos {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    color: #3a3ada;
    width: 10%; }

#header-home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../assets/igaming-latam-consulting.png) !important;
  background-position: center;
  background-size: cover;
  overflow-x: hidden; }
  #header-home .navbar-header-home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.7s; }
    #header-home .navbar-header-home:hover {
      background: #fff; }
      #header-home .navbar-header-home:hover .logo-img-home {
        color: #141414; }
        #header-home .navbar-header-home:hover .logo-img-home .link-logo-home {
          text-decoration: none; }
        #header-home .navbar-header-home:hover .logo-img-home h2, #header-home .navbar-header-home:hover .logo-img-home html body h3, html body #header-home .navbar-header-home:hover .logo-img-home h3, #header-home .navbar-header-home:hover .logo-img-home html body h4, html body #header-home .navbar-header-home:hover .logo-img-home h4, #header-home .navbar-header-home:hover .logo-img-home html body h5, html body #header-home .navbar-header-home:hover .logo-img-home h5, #header-home .navbar-header-home:hover .logo-img-home html body h6, html body #header-home .navbar-header-home:hover .logo-img-home h6 {
          color: #141414 !important; }
      #header-home .navbar-header-home:hover .navbar-ul-home .navbar-li-home .navbar-a-home {
        color: #141414; }
    #header-home .navbar-header-home .logo-home .logo-img-home {
      width: calc(min(50vw, 200px)); }
    #header-home .navbar-header-home .navbar-ul-home .navbar-li-home {
      position: relative;
      display: inline-block;
      list-style: none;
      margin: 10px 20px; }
      #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home {
        text-decoration: none;
        color: #fff;
        font-weight: bold; }
        #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home::after {
          content: '';
          height: 3px;
          width: 0%;
          background: #3a3ada;
          position: absolute;
          left: 0;
          bottom: -10px;
          transition: 0.5s; }
        #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home:hover::after {
          width: 100%; }
        #header-home .navbar-header-home .navbar-ul-home .navbar-li-home .navbar-a-home:active {
          color: #3a3ada; }
  #header-home .navbar-header-home.bottom {
    background: #fff;
    z-index: 10; }
    #header-home .navbar-header-home.bottom .logo-home {
      color: #141414; }
      #header-home .navbar-header-home.bottom .logo-home .logo-img-home {
        filter: invert(0.8) grayscale(100%); }
      #header-home .navbar-header-home.bottom .logo-home h2, #header-home .navbar-header-home.bottom .logo-home html body h3, html body #header-home .navbar-header-home.bottom .logo-home h3, #header-home .navbar-header-home.bottom .logo-home html body h4, html body #header-home .navbar-header-home.bottom .logo-home h4, #header-home .navbar-header-home.bottom .logo-home html body h5, html body #header-home .navbar-header-home.bottom .logo-home h5, #header-home .navbar-header-home.bottom .logo-home html body h6, html body #header-home .navbar-header-home.bottom .logo-home h6 {
        color: #141414 !important; }
    #header-home .navbar-header-home.bottom .navbar-ul-home .navbar-li-home .navbar-a-home {
      color: #141414; }
  #header-home #navbarNav {
    justify-content: flex-end; }
  #header-home .content {
    margin-top: 18%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #header-home .content h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 45px;
      font-weight: 600;
      padding: 20px; }
    #header-home .content p {
      max-width: 500px;
      line-height: 28px;
      opacity: 0; }
    #header-home .content .links {
      margin-top: 30px;
      opacity: 0; }
      #header-home .content .links .btnLink {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        border: 2px solid #fff;
        padding: 10px 35px;
        border-radius: 30px;
        margin-right: 15px; }
    #header-home .content .slide-left {
      animation: slideleft 1s linear forwards; }
    #header-home .content p.slide-left {
      animation-delay: 1s; }
    #header-home .content .links.slide-left {
      animation-delay: 2s; }

@keyframes slideleft {
  0% {
    transform: translate(100px);
    opacity: 0; }
  100% {
    transform: translate(0px);
    opacity: 1; } }

#header-global {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  transition: 0.7s;
  overflow-x: hidden;
  z-index: 10; }
  #header-global .navbar-header-global {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 8%;
    top: 0;
    left: 0; }
    #header-global .navbar-header-global .logo-global {
      flex: 1; }
      #header-global .navbar-header-global .logo-global .logo-img-global {
        width: calc(min(50vw, 200px)); }
    #header-global .navbar-header-global .navbar-ul-global .navbar-li-global {
      position: relative;
      display: inline-block;
      list-style: none;
      margin: 10px 20px; }
      #header-global .navbar-header-global .navbar-ul-global .navbar-li-global .navbar-a-global {
        text-decoration: none;
        color: #141414;
        font-weight: bold; }
        #header-global .navbar-header-global .navbar-ul-global .navbar-li-global .navbar-a-global::after {
          content: '';
          height: 3px;
          width: 0%;
          background: #3a3ada;
          position: absolute;
          left: 0;
          bottom: -10px;
          transition: 0.5s; }
        #header-global .navbar-header-global .navbar-ul-global .navbar-li-global .navbar-a-global:hover::after {
          width: 100%; }
        #header-global .navbar-header-global .navbar-ul-global .navbar-li-global .navbar-a-global:active {
          color: #3a3ada; }
    #header-global .navbar-header-global #navbarNav {
      justify-content: flex-end; }
  #header-global .navbar-header-global.bottom-global {
    background: #fff;
    z-index: 10; }
    #header-global .navbar-header-global.bottom-global .navbar-ul-global .navbar-li-global .navbar-a-global {
      color: #141414; }

.padreHome {
  margin-top: 120px;
  height: 75vh; }
  .padreHome .contenedorHome {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../assets/igaming-latam-consulting.png);
    background-size: cover;
    background-position: center; }
    .padreHome .contenedorHome .homeBanner {
      display: flex;
      flex-direction: column;
      margin: 0; }
      .padreHome .contenedorHome .homeBanner .estilosNombre {
        margin: 0;
        height: 70%;
        padding: 2% 0 20px 70px; }
        .padreHome .contenedorHome .homeBanner .estilosNombre .nombrePrincipal {
          color: #4d4d4d;
          font-size: 8rem;
          font-weight: bold;
          font-family: monospace;
          cursor: pointer;
          text-transform: uppercase;
          background: linear-gradient(to right, #4d4d4d, white, #4d4d4d);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: shine 3s infinite linear; }

@keyframes shine {
  0% {
    background-position: 0; }
  60% {
    background-position: 600px; }
  100% {
    background-position: 600px; } }
        .padreHome .contenedorHome .homeBanner .estilosNombre .subtitulo {
          color: gray;
          font-size: large;
          text-align: justify;
          margin: 3% 0 0 15px;
          width: 50%; }
        .padreHome .contenedorHome .homeBanner .estilosNombre .botonHome {
          width: 200px;
          height: 80px;
          margin: 2% 0 0 20%; }
      .padreHome .contenedorHome .homeBanner .contactoHome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 100px;
        right: 120px;
        height: 200px;
        width: 350px;
        border: solid white; }
        .padreHome .contenedorHome .homeBanner .contactoHome .numeroContacto {
          color: #fff; }
        .padreHome .contenedorHome .homeBanner .contactoHome .textoContacto {
          color: aliceblue;
          text-align: center;
          margin-top: 8%; }

.contenidoHome {
  padding: 10px 100px 0px 100px;
  overflow: hidden;
  margin-bottom: 70px; }
  .contenidoHome p {
    color: rgba(0, 0, 0, 0.89); }
  .contenidoHome .contenedorContenido {
    padding: 0;
    text-align: center;
    margin: 0; }
    .contenidoHome .contenedorContenido h2, .contenidoHome .contenedorContenido html body h3, html body .contenidoHome .contenedorContenido h3, .contenidoHome .contenedorContenido html body h4, html body .contenidoHome .contenedorContenido h4, .contenidoHome .contenedorContenido html body h5, html body .contenidoHome .contenedorContenido h5, .contenidoHome .contenedorContenido html body h6, html body .contenidoHome .contenedorContenido h6 {
      margin-bottom: 100px;
      margin-top: 20px;
      font-weight: bolder; }
    .contenidoHome .contenedorContenido .detallesTitulos {
      top: 90px; }
    .contenidoHome .contenedorContenido .servicioPrincipal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      margin-bottom: 80px;
      background: #f6f9fe; }
      .contenidoHome .contenedorContenido .servicioPrincipal .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .contenidoHome .contenedorContenido .servicioPrincipal .content p {
          font-family: "Open Sans", sans-serif;
          line-height: 24px;
          font-size: 14px; }
        .contenidoHome .contenedorContenido .servicioPrincipal .content h5 {
          margin: 20px 0;
          font-size: 32px;
          font-weight: 700; }
      .contenidoHome .contenedorContenido .servicioPrincipal .servicioImg {
        display: flex;
        align-items: center;
        justify-content: center; }

.contenedorServicios {
  width: 100%;
  margin: 120px 0 50px 0;
  padding: 0 120px 0 120px; }
  .contenedorServicios .padreServicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0 0 0;
    background-color: rgba(58, 58, 218, 0.205);
    border-radius: 30px; }
    .contenedorServicios .padreServicios .contenidoServicios {
      display: flex;
      align-items: center;
      height: 300px;
      width: 450px;
      padding: 20px;
      margin: 10px 30px; }
      .contenedorServicios .padreServicios .contenidoServicios .imgServicios {
        width: min-content;
        height: min-content; }
        .contenedorServicios .padreServicios .contenidoServicios .imgServicios img {
          width: 180px;
          height: 180px;
          border-radius: 100px; }
      .contenedorServicios .padreServicios .contenidoServicios .textoServicios .listaServicios {
        margin: 0 0 0 40px;
        color: rgba(0, 0, 0, 0.87); }

.contenedorNosotros {
  margin-top: 120px;
  margin: 120px 120px 80px 120px; }
  .contenedorNosotros p {
    font-size: large; }
  .contenedorNosotros .padreExperiencia {
    margin: 100px 0 0 0;
    height: min-content; }
    .contenedorNosotros .padreExperiencia .nuestraExperiencia {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%; }
      .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia .imgPrimera {
          width: 60%; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia .imgSegunda {
          width: 40%; }
        .contenedorNosotros .padreExperiencia .nuestraExperiencia .imgExperiencia img {
          padding: 0 10px;
          border-radius: 30px; }
      .contenedorNosotros .padreExperiencia .nuestraExperiencia .textoExperiencia {
        text-align: center;
        width: 100%;
        padding: 20px 30px; }
  .contenedorNosotros .proyectos {
    width: 100%;
    margin-top: 20px; }
    .contenedorNosotros .proyectos .enfoque, .contenedorNosotros .proyectos .idoneidad {
      display: flex;
      width: 100%;
      height: 600px; }
      .contenedorNosotros .proyectos .enfoque .imgEnfoque, .contenedorNosotros .proyectos .idoneidad .imgEnfoque, .contenedorNosotros .proyectos .idoneidad .imgIdoneidad {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 100%; }
        .contenedorNosotros .proyectos .enfoque .imgEnfoque img, .contenedorNosotros .proyectos .idoneidad .imgEnfoque img, .contenedorNosotros .proyectos .idoneidad .imgIdoneidad img {
          border-radius: 20px;
          width: 500px;
          height: 250px; }
      .contenedorNosotros .proyectos .enfoque .textoEnfoque, .contenedorNosotros .proyectos .idoneidad .textoEnfoque, .contenedorNosotros .proyectos .idoneidad .textoIdoneidad {
        width: 50%;
        padding: 130px 20px 0 50px; }
        .contenedorNosotros .proyectos .enfoque .textoEnfoque p, .contenedorNosotros .proyectos .idoneidad .textoEnfoque p, .contenedorNosotros .proyectos .idoneidad .textoIdoneidad p {
          text-align: justify; }
    .contenedorNosotros .proyectos .idoneidad .textoIdoneidad {
      padding: 170px 50px 0 20px; }

.contenedorPadre {
  margin-top: 120px; }
  .contenedorPadre .section-contact {
    background-color: #f6f9fe; }
    .contenedorPadre .section-contact .titulosSecciones .detallesTitulos {
      top: 40px; }
    .contenedorPadre .section-contact .info-box {
      color: #444444;
      text-align: center;
      box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
      padding: 20px 0 30px 0; }
      .contenedorPadre .section-contact .info-box .contact-icon {
        background: #fff;
        box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
        border-radius: 30%;
        padding: 8px;
        margin: 0 auto;
        width: 50px;
        height: auto; }
      .contenedorPadre .section-contact .info-box h3 {
        font-size: 20px;
        color: #777777;
        font-weight: 700;
        margin: 10px 0; }
      .contenedorPadre .section-contact .info-box p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0; }
    .contenedorPadre .section-contact .php-email-form {
      box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
      padding: 30px; }
      .contenedorPadre .section-contact .php-email-form .error-mensaje {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: left;
        padding: 15px;
        font-weight: 600; }
        .contenedorPadre .section-contact .php-email-form .error-mensaje br + br {
          margin-top: 25px; }
      .contenedorPadre .section-contact .php-email-form .enviar-mensaje {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600; }
    .contenedorPadre .section-contact .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px; }
      .contenedorPadre .section-contact .loading::before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite; }
    .contenedorPadre .section-contact .form-group {
      margin-bottom: 20px; }
    .contenedorPadre .section-contact input {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 10px 15px; }
      .contenedorPadre .section-contact input:focus {
        border-color: #141414; }
    .contenedorPadre .section-contact textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 12px 15px; }
      .contenedorPadre .section-contact textarea:focus {
        border-color: #141414; }
    .contenedorPadre .section-contact button[type=submit] {
      background: #141414;
      border: 0;
      padding: 10px 30px;
      color: #fff;
      transition: 0.4s;
      border-radius: 4px; }
      .contenedorPadre .section-contact button[type=submit]:hover {
        background: #777777; }

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.footer {
  height: 70vh;
  background-color: black; }
  .footer .suscripcion {
    margin-bottom: 0;
    width: 100%;
    height: 45%;
    background-image: url(../assets/suscribirImg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%; }
    .footer .suscripcion .tituloSuscribir {
      font-size: 50px;
      font-weight: bold;
      text-shadow: 0px 5px 5px black;
      color: white;
      margin: 0 0 50px 0; }
    .footer .suscripcion .textoSuscribirse {
      color: white;
      text-shadow: 0px 5px 5px black;
      font-size: large; }
    .footer .suscripcion .contenedorSuscribirse {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      height: 20%; }
      .footer .suscripcion .contenedorSuscribirse ::placeholder {
        color: white;
        text-shadow: 0px 5px 5px black; }
      .footer .suscripcion .contenedorSuscribirse .dataSuscribirse {
        width: 70%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.637); }
      .footer .suscripcion .contenedorSuscribirse .botonSuscribir {
        height: 50px;
        width: 120px; }
  .footer .contactoFooter {
    height: 40%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .contactoFooter img {
      width: 30px;
      height: 30px; }
    .footer .contactoFooter .dataFooter {
      margin-top: 3%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer .contactoFooter .dataFooter .textoFooter {
        color: rgba(245, 245, 245, 0.616); }
      .footer .contactoFooter .dataFooter h6 {
        font-weight: bold;
        color: white; }
      .footer .contactoFooter .dataFooter ul {
        list-style: none; }
    .footer .contactoFooter .inicio {
      position: fixed;
      bottom: 20px;
      right: 10px; }
      .footer .contactoFooter .inicio img {
        height: 50px;
        width: 50px; }
  .footer .copyright {
    text-align: center;
    color: rgba(245, 245, 245, 0.185); }
