.contenedorContacto {
  .section-contact {
    background-color: #f6f9fe;
    margin: 3.125rem 0 1.563rem 0;
    .container {
      p {
        text-align: center;
        padding: 1rem;
      }
    }
    .info-box {
      color: #444444;
      text-align: center;
      box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
      padding: 20px 0 30px 0;
      .contact-icon {
        background: #fff;
        box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
        border-radius: 30%;
        padding: 8px;
        margin: 0 auto;
        width: 50px;
        height: auto;
      }
      h3 {
        font-size: 20px;
        color: #777777;
        font-weight: 700;
        margin: 10px 0;
      }
      p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
      }
    }
    .contact-email-form{
      .contact-form-response{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: #000000;
      }
      .contact-form-error{
        margin-top: -1rem;
        font-size: 80%;
        background-color: red;
        color: #fff;
        transition: all 800ms ease;
        .is-active{
          display: block;
          animation: show-mesage 1s 1 normal 0s ease-out both;
        }
      }
      .none{
        display: none;
      }
      .contact-form-loader{
        text-align: center;
      }
    }
    input {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 10px 15px;
      &:focus {
        border-color: #141414;
      }
    }
    textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 12px 15px;
      resize: none ;
      &:focus {
        border-color: #141414;
      }
    }
    button[type="submit"] {
      background: #141414;
      border: 0;
      padding: 10px 30px;
      color: #fff;
      transition: 0.4s;
      border-radius: 4px;
      &:hover {
        background: #777777;
      }
    }
  }
}
@keyframes show-mesage {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }
