*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    body{
        font-family: 'PT Mono', monospace;
        font-family: 'Prompt', sans-serif;
        font-family: 'Inconsolata', monospace;
        font-family: 'Encode Sans SC', sans-serif;
        background-color: white;
        margin:0;
        padding: 0;
        .container-fluid{
            padding: 0;
        }
        h2{
            color:black;
        }
        h3{
            @extend h2;
        }
        h4{
            @extend h2;
        }
        h5{
            @extend h2;
        }
        h6{
            @extend h2;
        }
        .titulosSecciones{
            text-align: center;
            margin: 20px 0 0 0;
            height: min-content;
        }
        .detallesTitulos{
            position: absolute;
            top: 65px;
            left: 0;
            right: 0;
            margin: auto;
            border-style: solid;
            border-radius: 10px;
            color:rgb(58, 58, 218);
            width: 10%;
        }

    }
}

