@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    body{
        font-family: 'Open Sans', sans-serif;
        background-color: white;

        h2{
            color:black;
        }
        h3{
            @extend h2;
        }
        h4{
            @extend h2;
        }
        h5{
            @extend h2;
        }
        h6{
            @extend h2;
        }
        .titulosSecciones{
            text-align: center;
            margin: 20px 0 0 0;
            height: min-content;
        }
        .detallesTitulos{
            position: absolute;
            top: 65px;
            left: 0;
            right: 0;
            margin: auto;
            border-style: solid;
            border-radius: 10px;
            color:rgb(58, 58, 218);
            width: 10%;
        }

    }
}

