.contenedorPadre{
   margin: 0;
   padding: 0;
   overflow-x: hidden;
    .contenedorHeader{
        background-color: white;
        height: 120px;
        width: 100%;
        position: fixed;
        z-index:9999;
        margin: 0;
        .headerLogo{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width:80px;
                height: 80px;
            }
            .logoLatam{
                display: flex;
                padding: 0;
                margin: 0;
                position: absolute;
                .textoLogo{
                    h2{
                        position: absolute;
                        width: 250px;
                        top: 8px;
                        left: 85px;
                        right: 0;
                        margin: auto;
                    }
                    p{
                        @extend h2 ;
                        top:40px;
                        left: 100px;
                    }
                    span{
                        color:rgb(98, 98, 189);
                    }
                }
            }
        }
        .headerSearch{
            display: flex;
            padding: 0;
            width: 100%;
            .navPadre{
                width: 80%;
                margin: auto;
                .estilosNav{
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    align-items: center;
                    
                     .nav-item{
                        position: relative;
                        list-style: none;
                        display: inline-block;
                        .nav-link{
                            text-decoration: none;
                            color: black;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                        &::after{
                            content: '';
                            height: 3px;
                            width: 0%;
                            background: rgb(58, 58, 218);
                            position: absolute;
                            left: 0;
                            bottom: -10px;
                            transition: 0.5s;
                        }
                        &:hover::after{
                            width: 100%;
                        }
                        
                    }
                   
                }
            }
            
        }
    }
}