//MOBILE
@media only screen and (min-width:0px) and (max-width:1024px){
    #header-global{
        .navbar-header-global{
            flex:none;
            width: 100%;
            z-index: 1;
            transition: none;
            background: #fff;
            .navbar-ul-global{
                filter: none;
                .navbar-li-global{
                    color: #141414;
                    .navbar-a-global{
                        color: #141414;
                        &::after{
                            content: '';
                            height: 3px;
                            width: 0%;
                            background: rgb(58, 58, 218);
                            position: absolute;
                            left: 0;
                            bottom: -10px;
                            transition: 0.5s;
                        }
                        &:hover::after{
                            width: 15%;
                        }
                        &:focus{
                            color: rgb(58, 58, 218);
                        }
                        &:target{
                            color: rgb(58, 58, 218);
                        }
                    }
                }
            }
        }
    }
}
//LAPTOP
@media only screen and (min-width:1024px) and (max-width:1440px){
    #header-global{
        width: 100%;
        .navbar-header-global{
            padding: 18px 2% 18px 8%;
            .navbar-ul-global{
                width: min-content;
                display: flex;
                justify-content: space-around;
                .navbar-li-global{
                    width:min-content;
                }
            }
        }
    }
}