//MOBILE
@media only screen and (min-width:0px) and (max-width:768px){
    #header-home{
        height: 100vh;
        
        .navbar-header-home{
            z-index: 1;
            transition: none;
            background: #fff;
            .logo-home .logo-img-home{
                filter: none;
            }
            .navbar-ul-home{
                filter: none;
                .navbar-li-home{
                    color: #141414;
                    .navbar-a-home{
                        color: #141414;
                        &::after{
                            content: '';
                            height: 3px;
                            width: 0%;
                            background: rgb(58, 58, 218);
                            position: absolute;
                            left: 0;
                            bottom: -10px;
                            transition: 0.5s;
                        }
                        &:hover::after{
                            width: 15%;
                        }
                        &:focus{
                            color: rgb(58, 58, 218);
                        }
                        &:target{
                            color: rgb(58, 58, 218);
                        }
                    }
                }
            }
        }
        .content{
            margin-top: 10%;
            text-align: center;
            height: 100%;
            .links{
                margin-top: 1.875rem;
                .btnLink{
                    width: 100%;
                }
            }
        }
    }
    .navbar-icon-button{
        background: #fff;
    }
    .navbar-icon-hambur{
        color: #141414;
    }
    .contenidoHome .contenedorContenido .servicioPrincipal{
        
        padding: 0;
        margin-bottom: 1.875rem;
    }
}
//LAPTOP
@media only screen and (min-width:1024px) and (max-width:1440px){
    #header-home{
            .content{
                margin-top: 0;
                height: 100%;
                text-align: center;
            }
    }
}