//MOBILE
@media only screen and (min-width:0px) and (max-width:768px){
    html{
        margin: 0;
        body{
            .contenedorPadre{
                padding: 0;
                margin:77px 0 0 0;
                width: 100%;
            }
            p{
                font-size: smaller;
            }
            h1{
                font-size: 2rem;
                font-weight: bold;
            }
            h2{
                font-size: 1rem;
                font-weight: bold;
            }
            h5{
                font-size: 0.875rem;
                font-weight: bold;
            }
        }
    }
    .padreHome .contenidoHome .contenedorContenido{
        .detallesTitulos-home{
            top: 90px;
        }
        h2{
            font-size: 1.25rem;
        }
    }
    .titulosSecciones{
        h6{
            font-size: 0.875rem;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    html{
        body{
            
            p{
                font-size: smaller;
            }
        }
    }
    .titulosSecciones{
        h2{
            font-size: 1.2rem;
            font-weight: bold;
        }
        h6{
            font-size: 1rem;
            font-weight: bold;
        }
    }
}
//LAPTOP
@media only screen and (min-width:1024px) and (max-width:1440px){
    html{
        body{
            
            p{
                font-size: smaller ;
            }
        }
    }
    .titulosSecciones{
        h2{
            font-size: 1.4rem;
            font-weight: bold;
        }
        h6{
            font-size: 1rem;
            font-weight: bold;
        }
    }
}