.contenedorServicios{
    width: 100%;
    padding: 0 100px 0 100px;
    
    .info-services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5%;
        .info-services-p{
            text-align: center;
        }
    }
    .padreServicios{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin:50px 0 50px 0;
        background-color: #f6f9fe;;
        border-radius: 30px;
        .service-info-fin{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 5%;
            margin-bottom: 2%;
            .service-info-p-fin{
                text-align: center;
            }
        }
        .contenidoServicios{
            display: flex;
            align-items: center;
            height: 300px;
            width: 490px;
            margin:10px 30px;
            .imgServicios{
                width: min-content;
                height: min-content;
                img{
                    width: 260px;
                    height: 260px;
                    border-radius: 50%;
                }
            }
            .textoServicios{
                .listaServicios{
                    margin: 0 0 0 40px;
                    color: rgba(0, 0, 0, 0.87);
                    line-height: 24px;
                    font-size: 14px;
                    li{
                        list-style:disc;
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}